@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes custom-pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }

/* CSS for toast */
.toast + .toast {
  margin-top: 0.5em;
}

.toast-message {
  display: flex;
  align-items: top;
  gap: 1em;
}

@keyframes toast-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes toast-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.toast-list--top-left .toast,
.toast-list--bottom-left .toast {
  animation: toast-in-left .1s;
}

.toast-list--top-right .toast,
.toast-list--bottom-right .toast {
  animation: toast-in-right .1s;
}

.toast-list .toast {
  transition: transform .1s, opacity .1s,
    box-shadow .1s ease-in-out;
}